@import "tailwindcss";


#ani1{
animation-name: slideDown;
animation-duration: 1s;
animation-timing-function: ease-in;
animation-fill-mode: forwards;
}
@keyframes slideDown {
  0% {
    transform: translateY(-180px);
    opacity: 1;
  }
  90% {
    transform: translateY(-160px);
    opacity: 1;
  }
   100% {
    transform: translateY(0px);
    opacity: 1;
  }
}