@import "tailwindcss";


#ani1{
animation-name: slideDown;
animation-duration: 1s;
animation-timing-function: ease-in;
animation-fill-mode: forwards;
}
@keyframes slideDown {
  from {
    transform: translateY(-180px);
    opacity: 1;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}